body {
  font-family: sans-serif;
  padding: 16px;
}

h1 {
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  border: 1px solid #ccc;
  padding: 6px;
  min-height: 90px;
}

.date {
  font-weight: bold;
  margin-bottom: 4px;
}

.event {
  background-color: #9146FF; /* Twitché¢¨ */
  color: white;
  font-size: 0.85em;
  padding: 2px 4px;
  margin-top: 4px;
  border-radius: 4px;
}
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }

  footer {
    text-align: center;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
